<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Messages"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Channels"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile"></ion-tab>
</ion-tabs> -->


<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inbox-page">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Messages</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="channels-page">
      <ion-icon name="people"></ion-icon>
      <ion-label>Channels</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="profile-page">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>

    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>