<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="assets/icon/favicon.png" alt="logo">

  <app-login-form></app-login-form>

  <!-- <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row class="login-form__buttons">
      <div>
      <ion-button routerLink="/register-page" color="secondary">Register</ion-button>
      <ion-button routerLink="/tabs-page">Login</ion-button>
      </div>
    </ion-row>
  </ion-card> -->

</ion-content>
